$font-prefix: '/assets';
$app-offset-left: 100px;
$app-max-width: 1024px;
$app-column-width: 360px;
$mquery-mobile-width: 414px; //iPhone+
@import "reset";
@import 'ibm-plex/mono';
@import 'common-styles';
@import "app-gui/header";
@import "app-gui/body";
@import "app-gui/footer";

.logo {
  display: inline-block;
  margin-left: 35px;
  width: 132px;
  height: 120px;
  background: url(/assets/logo/skyblazers-notagline.svg) no-repeat;
  background-size: 131px 120px;
  > span {
    display: none;
  }
}
[data-cross-message]::after {
  overflow: hidden;
  position: absolute;
  left: -0.2em,;
  right: 0;
  z-index: 1;
  -webkit-user-select: none;
  pointer-events: none;
  user-select: none;
  font-size: 27vw;
  font-style: italic;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -11.67px;
  text-align: center;
  content: attr(data-cross-message);
  opacity: 0.15;
  text-transform: uppercase;
}
