.skbz-body {
  margin: auto;
  border: 1px dotted #f00;
}
.skbz-header {
}
.preamble {
  display: flex;
  align-content: flex-end;
  flex-direction: column-reverse;
  padding: 10rem 3rem 3rem;
  background-image: -webkit-linear-gradient(left, #72FFFF 0%, #1CFF95 100%);
  background-image: -o-linear-gradient(left, #72FFFF 0%, #1CFF95 100%);
  background-image: linear-gradient(to right, #72FFFF 0%, #1CFF95 100%);
  max-width: 744px;
  min-height: 70rem;
  > *{
    &:nth-child(1) { order: 8; }
    &:nth-child(2) { order: 7; }
    &:nth-child(3) { order: 6; }
    &:nth-child(4) { order: 5; }
    &:nth-child(5) { order: 4; }
    &:nth-child(6) { order: 3; }
    &:nth-child(7) { order: 2; }
    &:nth-child(8) { order: 1; }
  }

  > * {
    max-width: 360px;
  }
}
