#app-main-content {
  margin: 20*0.8em auto auto;
  max-width: $app-max-width;
  header {
    position: relative;
    margin-left: $app-offset-left;
    h2 {
      position: absolute;
      z-index: 1;
      font-style: italic;
      margin-top: -1em;
      left: -0.4em;
      text-transform: uppercase;
    }
    h3 {
      display: inline-block;
      // text-decoration: underline;
      border-bottom: 5px solid #000;
    }
  }
  section {
    margin-top: 10rem;
    > .readable {
      h3:first-child {
        border-bottom: 5px solid #3EFFFF;
      }
      max-width: $app-column-width;
      margin-left: $app-offset-left;
    }
  }
}

.preamble {
  display: flex;
  align-content: flex-end;
  flex-direction: column-reverse;
  padding: 10rem 3rem 3rem;
  background-image: -webkit-linear-gradient(left, #72FFFF 0%, #1CFF95 100%);
  background-image: -o-linear-gradient(left, #72FFFF 0%, #1CFF95 100%);
  background-image: linear-gradient(to right, #72FFFF 0%, #1CFF95 100%);
  // max-width: 744px;
  min-height: 70rem;
  // COMBAK: This is cheating, should find a better way to bottom align the content
  > *{
    &:nth-child(1) { order: 8; }
    &:nth-child(2) { order: 7; }
    &:nth-child(3) { order: 6; }
    &:nth-child(4) { order: 5; }
    &:nth-child(5) { order: 4; }
    &:nth-child(6) { order: 3; }
    &:nth-child(7) { order: 2; }
    &:nth-child(8) { order: 1; }
  }
  > * {
    max-width: $app-column-width;
  }
}
ul.alternate {
  width: 100%;
  margin-top: 10rem;
  margin-right: $app-offset-left;
  li {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    &:nth-child(odd) {
      margin-right: calc(100% - #{$app-column-width * 1.5});
    }
    &:nth-child(even) {
      margin-left: calc(100% - #{$app-column-width * 1.5});
    }
  }
}
.profile {
  display: flex;
  flex-wrap: wrap;
  .readable > h4 + p {
    margin-top: 0;
  }
  img {
    width: 240px;
    height: 240px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: #{$app-column-width * 1.5}) {
  ul.alternate li {
    &:nth-child(odd) {
      margin-right: auto;
    }
    &:nth-child(even) {
      margin-left: auto;
    }
  }
}
