#app-header {
  > div {
    margin: 10rem auto auto;
    max-width: $app-max-width;
  }
  nav {
    margin-top: 2rem;
    margin-left: $app-offset-left;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 3em;
      }
    }
  }
}
@media screen and (max-width: #{$app-column-width * 1.5}) {
  #app-header {
    text-align: center;
    nav {
      margin-left: 0;
    }
  }
}
